body {
	background-color: blue;
}

.myName {
	font-size: 50px;
	color: blue;
	background-color: chartreuse;
}

.birthdayTable {
	border: 5px solid blueviolet;
	background-color: red;
}

.month {
	font-size: 6px;
	color: chocolate;
}

.day {
	font-size: 6px;
	color: rgb(54, 14, 14);
}

.year {
	font-size: large;
	color: cornsilk;
	background-color: crimson;
}

#myBio {
	font-size: x-large;
	color: darkorchid;
}

#picture {
	height: 300px;
	width: 300px;
	border: 10px dotted red;
}